.sidebar {
    position: fixed;
    width: 125px;
    justify-content: center;
    padding: 5px;
    background-color: rgb(202, 202, 202);
    margin-top: 3rem;
    margin-left: 150px;
    border-radius: 5px;
    align-items: baseline;
}

.menuButton {
    vertical-align: middle;
    background-color: rgb(202, 202, 202);
    border: gray;
    border-radius: 8px;
    padding: 2px;
    align-items: baseline;
    max-height: 30px;
}

.menuButton:hover {
    background-color: rgb(116, 116, 116);
}

.menuText {
    color: white;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-shadow: 0.5px 0px 0px white;
    text-align: center;
  }
