<div>
  <p>
    Hello <span style="color: brown">__SME-FIRST__</span>,
  </p>
  <br>
    You are getting this message because 
    <span style="color: blue">__USER-EMAIL__</span> 
    thinks you should know something about clusters
    <span style="color: blue">__COMMENT-IDS__</span>. <br/><br/>
    <blockquote>
      __USER-NOTES__
    </blockquote> <br/><br/>
    Please continue the discussion with them via 
    <a href="mailto:__USER-EMAIL__?subject=Response to comments [__COMMENT-IDS__]" >email</a> 
  </p>
  <p>
    Cheers,<br>
    The Discovery Lab
  </p>
</div>
<style>
  .user-info {
    color:blue
  }

  .sme-info {
    color:brown
  }

</style>
